In [1]:
# Q1. Create one variable containing following type of data:

In [9]:
a = "Prashant" # string
b = [1,5,8,"Prashu",4.5] # list
c = 12.23 # float
d = (12,)

In [13]:
print(type(a))
print(type(b))
print(type(c))
print(type(d))

<class 'str'>
<class 'list'>
<class 'float'>
<class 'tuple'>

In [14]:
# Q2. Given are some following variables containing data:

In [19]:
var1 = ''
var2 = '[ DS , ML , Python]'
var3 = [ 'DS' , 'ML' , 'Python' ]
var4 = 1.

In [21]:
print(type(var1))
print(type(var2))
print(type(var3))
print(type(var4))

<class 'str'>
<class 'str'>
<class 'list'>
<class 'float'>

In [22]:
# Q3. Explain the use of the following operators using an example:

In [25]:
# for /
a = 5
b = 10

print(a / b) # here operator / is for division

0.5

In [28]:
#for %
a = 5%4
print(a) # this will give the reminder of the division

1

In [33]:
# for //
10//9
# this opretor removes the decimal value and give the value that is closser to decimal in division

1

In [35]:
#for **
2**5
# ** this operator used to get the power answer

32

In [2]:
# Q4. Create a list of length 10 of your choice containing multiple types of data. Using for loop print the 
# element and its data type

In [5]:
a = ["Prashu",4.5,5,8,6,5,9.5,20,10,True]

In [13]:
for p in a:
    print(p,"\n","Data Type for",p,"is :",type(p))

Prashu
 Data Type for Prashu is : <class 'str'>
4.5
 Data Type for 4.5 is : <class 'float'>
5
 Data Type for 5 is : <class 'int'>
8
 Data Type for 8 is : <class 'int'>
6
 Data Type for 6 is : <class 'int'>
5
 Data Type for 5 is : <class 'int'>
9.5
 Data Type for 9.5 is : <class 'float'>
20
 Data Type for 20 is : <class 'int'>
10
 Data Type for 10 is : <class 'int'>
True
 Data Type for True is : <class 'bool'>

In [15]:
# Using a while loop, verify if the number A is purely divisible by number B and if so then how many 
# times it can be divisible.

In [7]:
A = 50  # The number to be divided
B = 5  # The number to divide by

count = 0  # Variable to keep track of the number of divisions

while A%B==0:
    A = A / B
    count += 1
print(count)

2

In [8]:
# Q6.  Create a list containing 25 int type data. Using for loop and if-else condition print if the element is 
# divisible by 3 or not.

In [33]:
a = 0
b = 25
for i in range(a,b):
    #print(i)
    i=i+1
    if i%3== 0 :
        print(i,"Yes It is Divisible")
    elif i%3 != 0:
        print(i,"It is not divisible")

1 It is not divisible
2 It is not divisible
3 Yes It is Divisible
4 It is not divisible
5 It is not divisible
6 Yes It is Divisible
7 It is not divisible
8 It is not divisible
9 Yes It is Divisible
10 It is not divisible
11 It is not divisible
12 Yes It is Divisible
13 It is not divisible
14 It is not divisible
15 Yes It is Divisible
16 It is not divisible
17 It is not divisible
18 Yes It is Divisible
19 It is not divisible
20 It is not divisible
21 Yes It is Divisible
22 It is not divisible
23 It is not divisible
24 Yes It is Divisible
25 It is not divisible

In [30]:
# Q7. What do you understand about mutable and immutable data types? Give examples for both showing 
# this property

In [2]:
data = [1,2,5,4,4.5,"PRASHU",False]

for i in data :
    print(type(i))

<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'float'>
<class 'str'>
<class 'bool'>

In [3]:
# above is my veriable data and its type in a list
# 1.Mutable Data Types
# lets change the value 5 into 45

data[2] = 45 #here 2 is the indexing of the 5 in the list "data" 
# i used > data.index("5")
list(data)

[1, 2, 45, 4, 4.5, 'PRASHU', False]

In [4]:
data.index("PRASHU")

5

In [5]:
data[5] = "AYUSH"

In [6]:
list(data)

[1, 2, 45, 4, 4.5, 'AYUSH', False]

In [9]:
data.index(4.5) #to know the index of 4.5

4

In [10]:
data[4]= "Abhijeet" # to change thew value 4.5 into Abhijeet

In [11]:
print(data)

[1, 2, 45, 4, 'Abhijeet', 'AYUSH', False]

In [ ]:
# So data like list, dictonary, sets can be assinged are called mutable  but data like int, string can not be assigned are called immutable